{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Login</title>
{% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="rounded-lg border border-dark p-3" style="background: white">
                <h2 class="form-group text-center"> Login </h2>
                <form class="ml-5 mr-5 mt-2 font-weight-bold py-4" method="POST">
                    {% csrf_token %} Username
                    <div class="form-group"><input class="form-control" type="text" name="username"></div>
                    Password
                    <div class="form-group"><input class="form-control" type="password" name="password"></div>
                    <br>
                    <div class="form-group text-center">
                        <button class="btn btn-primary btn btn-light border border-dark font-weight-bold" type="submit">Login</button>
                    </div>
                </form>
                {% if messages %} {% for message in messages %}
                <center>
                    <h3> {{ message|safe }} </h3>
                </center>
                {% endfor %} {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}