{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Sign Up</title>
{% endblock %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="rounded-lg border border-dark p-3" style="background: white">
                <h2 class="form-group text-center"> Sign Up </h2>
                <form class="ml-5 mr-5 mt-2 font-weight-bold py-4" method="POST">
                    {% csrf_token %} {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br> {{ field }} {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small> {% endif %} {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    {% endfor %}
                    <br>
                    <div class="form-group text-center">
                        <button class="btn btn-primary btn btn-light border border-dark font-weight-bold" type="submit">Sign Up</button>
                    </div>
                </form>
                {% if messages %} {% for message in messages %}
                <center>
                    <h3> {{ message|safe }} </h3>
                </center>
                {% endfor %} {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}