{% extends 'base.html' %}
{% load static %}
{% block meta %}
	<title>Cari Kasus</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class="rounded-lg border border-dark p-3" style="background: white">
				<div class="text-center">
				<h1>Cari Kasus</h1>
			<br>
			</div>
			<div class="input-group mb-3 px-5">
			    <input id = "keyword" class="form-control" type="text" class="form-control" placeholder="Cari kata kunci (awal kata Provinsi atau Kota / Kabupaten)" aria-label="Recipient's username" aria-describedby="button-addon2">
			    <div class="input-group-append">
			        <button id = "cari" class="btn btn-outline-primary" type="button" id="button-addon2">Cari</button>
			    </div>
			</div>
			<table class="table">
				<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Kota / Kabupaten</th>
					<th scope="col">Provinsi</th>
					<th scope="col">Jumlah</th>
				</tr>
				</thead>
				<tbody id="list">
				</tbody>
			</table>
			<br>
			<li>Menampilkan data terurut dari jumlah kasus terbesar</li>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
function cari() {
    var isi = $("#keyword").val();
    $.ajax({
        url : '/case/data?q=' + isi,
        success: function(data){
            var array_items = data;
            console.log(array_items);
            $("#list").empty();
            for(i = 0; i < array_items.length; i++)
            {
                $("#list").append(
                	"<tr>" +
                	"<th scope='row'>" + (i + 1) + "</th>" +
                	"<td>" + array_items[i][1] + "</td>" +
                	"<td>" + array_items[i][2] + "</td>" +
                	"<td>" + array_items[i][0] + "</td>" +
                	"</tr>"
                );
            }
        }
    })
}
$("#cari").click(cari);
$('#keyword').keyup(function(e){
    if(e.keyCode == 13) 
        cari();
});
</script>
{% endblock content %}