{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Share Experiences</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

<div class="container-fluid my-5 mx-auto text-center" style="max-width: 810px;">
    <h1>Cari pengalaman yang dinginkan</h1>
    <h6 class="mt-4 mx-2 text-muted">Tuliskan username, lokasi, maupun pengalaman yang ingin dicari. Tekan tombol di bawah untuk memunculkan kolom pencarian</h6>
    <a type="button" id="start" href="" class="my-3 btn btn-light border border-secondary btn-lg font-weight-bold">Mulai Cari Pengalaman</a>
</div>


<div id="result" class="container-fluid">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class="rounded-lg border border-dark p-3" style="background: white">
				
                <div class="input-group input-group-lg mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Cari Pengalaman</span>
                    </div>
                    <input type="text" id="pencarian" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                    <div class="input-group-append">
                        <button id="cari" class="btn btn-outline-primary" type="button" id="button-addon2">Cari</button>
                    </div>
                </div>
                
                <div id="list">

                </div>
		</div>
	</div>
</div>

<script>
$(document).ready(function () {
    function cari() {
        var param = $("#pencarian").val();

        $.ajax({
            url: '/experiences/data?q=' + param,
            success: function (response) {
                
                for (i = 0 ; i < response.length; i++) {
                    $("#list").append(
                        '<div class="card border-white"><div class="card-body"><h4 class="card-title">' + response[i].username + 
                        '</h4><p class="card-subtitle mb-3 text-muted">' +  response[i].kota_kabupaten + ',' +  response[i].provinsi + 
                        '</p><h5 class="card-text">' +  response[i].pengalaman + '</h5></div><hr class="mx-5 my-1"></div>'
                    );
                    
                }
            }
        });
    }

    $('#cari').click(function(e){
        $("#list").empty();
        cari();
    });


    $("#result").hide();


    $("#start").click(function (e) { 
        e.preventDefault();
        $("#result").slideDown();
    });    
});

</script>


{% endblock content %}
